.cases {
  width: 100%;
  height: 2796px;
  background-color: #1773ba;
  padding: 150px 0;
}

.cases_container {
  max-width: 1000px;
  height: 2496px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.mobile_application,
.digital_conveyor,
.exoskeletons {
  width: 100%;
}

.mobile_application {
  height: 776px;
}

.mobile_application h3,
.digital_conveyor h3,
.exoskeletons h3 {
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 21px;
}

.mobile_application_info {
  width: 100%;
  height: 715px;
  display: flex;
  align-items: center;
}

.customer_requirements {
  width: 510px;
  height: 715px;
  background-color: #ffffff;
  box-shadow: #0000000d 0px 0px 10px 1px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 10px;
  padding: 65px;
}

.customer_requirement {
  width: 257px;
  height: 179px;
}

.customer_requirement,
.our_solution,
.the_result {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customer_requirement h5,
.our_solution h5,
.the_result h5 {
  font-size: 18px;
  font-weight: 500;
}

.customer_requirement p,
.our_solution p,
.the_result p {
  font-style: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #363636;
  display: flex;
  gap: 11px;
}

.customer_requirement span {
  width: 16px;
  height: 2px;
  background-color: #1773ba;
  margin-top: 12px;
}

.our_solution span {
  width: 12px;
  height: 12px;
  border: 2px solid #1773ba;
  border-radius: 100px;
  margin-top: 7px;
}

.the_result span {
  margin-top: 2px;
  color: #1773ba;
}

.customer_requirement div,
.the_result div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.our_solution {
  width: 290px;
  height: 67px;
}

.the_result {
  width: 310px;
  height: 179px;
}

.customer_requirements button {
  width: 256px;
  height: 56px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #1773ba;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.customer_requirements button:active {
  background-color: #0f4a77;
}

.digital_conveyor {
  height: 742px;
}

.exoskeletons {
  height: 778px;
}