.banner_container {
  position: relative;
  max-width: 1000px;
  height: 622px;
  margin: auto;
  display: flex;
  align-items: center;
}

.trust_us {
  width: 491px;
  height: 256px;
}

.sub_title {
  font-size: 14px;
  color: #717171;
  margin-bottom: 18px;
}

.banner_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  color: #363636;
  margin-bottom: 23px;
}

.banner_desc {
  width: 298px;
  height: 44px;
  font-size: 16px;
  line-height: 140%;
  color: #363636;
  margin-bottom: 27px;
}

.trust_us button {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #1773BA;
  border-radius: 4px;
  padding: 20px 66px;
  border: none;
  /* cursor: no-drop; */
  cursor: pointer;

}

.trust_us button:active {
  background-color: #0f4a77;
}
/* .trust_us button:hover {
  background-color: #0f4a77;
} */

.banner_container img {
  position: absolute;
  right: 0;
  bottom: 0;
}

body.active-modal {
  overflow: hidden;
}

.modal {
  background-color: rgba(49,49,49,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease;
}

.modal_wrapper {
  width: 400px;
  height: 200px;
  background-color: white;
  color: #363636;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  border-radius: 10px;
}

.modal_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_head button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

@media(max-width: 768px){

  .modal {
    width: 100%;
    padding: 0 15px;
  }

  .banner_container {
    width: 100%;
    padding: 0 15px;
    display: flex;
  }

  .trust_us {
    width: 100%;
  }

  .banner_container img {
    display: none;
  }
}